<define>
	<bean id="sessionFactory" claz="com.sparrow.orm.session.annotation.AnnotationSessionFactory"
		lazy="false" initMethod="initialize" destroyMethod="destroy">
		<setter property="configFile" value="classpath:eggs/config4mysql.properties"></setter>
	</bean>
	 
	<bean id="transManager" claz="com.sparrow.orm.trans.TransManager">
		<setter property="sessionFactory" ref="sessionFactory"></setter>
	</bean>

	<bean id="transInterceptor" claz="com.sparrow.service.interceptor.TranscationInterceptor">
		<setter property="transManager" ref="transManager"></setter>
	</bean> 
	
	<bean id="hitTemplate" claz="com.sparrow.orm.template.SimpleHitTemplate">
		<setter property="sessionFactory" ref="sessionFactory"></setter>
	</bean>
	
	<bean id="baseDao" claz="com.sparrow.orm.dao.BaseDao">
		<setter property="sessionFactory" ref="sessionFactory"></setter>
	</bean>

	<annotation base="${service.scan.package}" expression="*ServiceImpl">
	</annotation>
	<annotation base="${dao.scan.package}" expression="*DaoImpl">
	</annotation>
	<annotation base="${controller.scan.package}" expression="*Controller">
	</annotation>
</define>