<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>小学同学列表</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta title="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/app/js/bootstrap/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="/app/js/bootstrap/css/bootstrap-responsive.min.css" type="text/css"/>
    <link rel="stylesheet" href="/app/css/tooltip/tooltip.css" type="text/css"/>
    <link rel="stylesheet" href="/app/css/style.css" type="text/css"/>
    <style type="text/css">
    .table td i{margin:0 2px;}
    .active_el { background-color: #AAAAAA;color: #FFFFFF;}</style>
    <script type="text/javascript" src="/app/js/jquery/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/app/js/jquery/jquery-migrate-1.1.1.min.js"></script>
    <script type="text/javascript" src="/app/js/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="/app/js/common/common.js"></script>
    <script type="text/javascript" src="/app/js/common/page.js"></script>
    <script type="text/javascript" src="/app/js/common/crud-grid-new.js"></script>
    <script type="text/javascript">
        var columns=[
//          'x',
//          {title:'id',label:'ID',width:'30',render:'_idx',hidden:true,noe:true},
//          {title:'openId',label:'唯一号',editor:'text',vtype:'required',max:36},
            {title:'headImage',label:'',width:'55px',render:function(v){
                return '<img src="'+v+'" style="width:50px;height:60px;"/>';
            },editor:'text',vtype:'required',max:256},
           {title:'title',label:'',editor:'text',vtype:'required',max:36,
              render:function(v,data){
                  var s='女'
                  if(data.sex==1)
                      s="男";
                  var inner;
                 if(data.phone)
                     inner='<strong>'+v+'</strong> - '+data.nickName+'&nbsp;('+s+') <br/>'+data.phone;
                 else
                     inner='<strong>'+v+'</strong> - '+data.nickName+'&nbsp;('+s+')';
                  inner=inner+'<br/>'+data.country+'-'+data.province+ '-'+data.city;
                  inner='<div>'+inner+'</div>';
                  return inner;
              }
           }
//          {title:'phone',label:'电话',editor:'text',vtype:'required',max:32},
//          {title:'nickName',label:'昵称',editor:'text',vtype:'required',max:36},
//          {title:'sex',label:'性别',render:function(v){
//              if(v==1)
//                 return "男";
//              else
//                 return '女';
//          },editor:'text',vtype:'required',max:11},
//          {title:'language',label:'语言',editor:'text',vtype:'required',max:8},
//          {title:'city',label:'城市',editor:'text',vtype:'required',max:36},
//          {title:'province',label:'省份',editor:'text',vtype:'required',max:36},
//          {title:'country',label:'国家',editor:'text',vtype:'required',max:36},

// ,         {title:'op',label:'操作',width:'90',align:'left',render:function(v,data){
//        	  v=data.id;
//        	  var s='<a href="/cmd/primary/primary_school?_t=et&id='+v+'">编辑</a>&nbsp;<a href="#" onclick="delRow('+v+')">删除</a>';
//        	  return s;
//          },noe:true}
	    ];
        var _url='/cmd/primary/primary_school';
        var _baseUrl='http://127.0.0.1:9081/app';
        var _imgRoot='http://127.0.0.1:9081/img';
        var _UI;
       
        var rowDblClick=function(r){
        	//self.location="/cmd/primary/primary_school?_t=et&id="+r._id;
        };
        var delRow = function(v){
        	_CRUD_.openAlert({
				confirm : '确认删除该记录么?',
				ok : function() {
					_CRUD_.deleteRow(_UI.url, v, _UI.grid);
				}
			});
        };
        $(document).ready(function() {
            _CRUD_.baseUrl=_imgRoot;
        	_UI = _CRUD_.renderTable({
            	url:_url,
            	cols:columns,
                idField:'id',
            	searchEl:'#searchForm',
            	rowDblClick:rowDblClick,
            	//opBar: _CRUD_.opBar,
                pBar:0,
            	showDetail:true,
            	showMenu:true,
            	canOp:true
             });
        });
    </script>
</head>
<body>
<!--<ul class="nav nav-tabs">
	<li class="active"><a href="#">列表</a></li>
	<li><a href="add.html">添加</a></li>
</ul>-->
<div id="searchForm"> 
</div>
<div id="grid">
</div>
<div id="pageBar" class="pagination" style="margin-top:0px;">
</div>
</body>
</html>