<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd"
          xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <localRepository>f:/repo</localRepository>
    <offline>false</offline>
    <servers>
        <server>
            <id>nexus-local</id>
            <username>devman</username>
            <password>devman</password>
        </server>
        <server>
            <id>nexus-deploy</id>
            <username>devman</username>
            <password>nexus$123</password>
        </server>
        <server>
            <id>nexus-snapshots</id>
            <username>devman</username>
            <password>nexus$123</password>
        </server>
    </servers>
    <mirrors>
     	<mirror>
            <id>nexus</id>
            <mirrorOf>*</mirrorOf>
            <name>Nexus</name>
            <url>http://192.168.3.110:8081/nexus/content/groups/public/</url>
        </mirror>
    </mirrors>
    <profiles>
        <profile>
            <id>nexus-local</id>
            <repositories>
                <repository>
                    <id>nexus-local</id>
                    <name>nexus-local</name>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <url>http://192.168.3.110:8081/nexus/content/groups/public/</url>
                </repository>
                <repository>
                    <id>nexus-deploy</id>
                    <name>nexus-deploy</name>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <url>http://192.168.3.110:8081/nexus/content/groups/public/</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>nexus-local</id>
                    <name>nexus-local</name>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <url>http://192.168.3.110:8081/nexus/content/groups/public/</url>
                </pluginRepository>
            </pluginRepositories>
        </profile>
        <profile>
            <id>online</id>
            <repositories>
                <repository>
                    <id>repo-maven1</id>
                    <url>http://repo1.maven.org/maven1/</url>
                </repository>
                <repository>
                    <id>repo-maven2</id>
                    <url>http://repo1.maven.org/maven2/</url>
                </repository>
                <!--                <repository>
                                    <id>repo-mirror</id>
                                    <url>http://maven.net.cn/content/groups/public/</url>
                                </repository>-->
                <repository>
                    <id>hortonworks</id>
                    <name>hortonworks</name>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <url>http://repo.hortonworks.com/content/repositories/releases/</url>
                </repository>
                <repository>
                    <id>morbayjetty</id>
                    <name>morbayjetty</name>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <url>http://repo.grails.org/grails/repo/</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <!-- <pluginRepository>
                     <id>plugin-repo-mirror</id>
                     <url>http://maven.net.cn/content/groups/public/</url>
                 </pluginRepository>-->
                <pluginRepository>
                    <id>repo-maven1</id>
                    <name>maven repo1</name>
                    <url>http://repo1.maven.org/maven1/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>repo-maven2</id>
                    <name>maven repo2</name>
                    <url>http://repo1.maven.org/maven2/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>nexus</id>
                    <name>local private nexus</name>
                    <url>http://maven.oschina.net/content/groups/public/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>nexus-local</activeProfile>
    </activeProfiles>
</settings>